# Ignore node_modules and npm debug log
node_modules
npm-debug.log

# Ignore local environment files
.env

# Ignore Docker-related files
docker-compose.yml
Dockerfile

# Ignore logs
*.log

# Ignore build directories
dist/
build/

# Ignore IDE and editor files
.idea/
.vscode/
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db